<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
    <title>AtwFinal</title>
    <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript">
       VK.init(function() {
     // API initialization succeeded
     // Your code here
       });
       console.log(vk.init);
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but AtwFinal doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
