<template>
  <div class="home">
 	<Header @goBack="goBack"/>
 	<Autoriz @onClick="goPage" v-if="thisPage === 'Autoriz'"/>
 	<Akklist @goAkk="goAkk" v-if="thisPage === 'Akklist'"/>
 	<Akkinf v-if="thisPage === 'Akkinf'"/>
 	<router-view></router-view>
  </div>
</template>

<script>


export default {
  name: 'home',
  components: {
    Header: () => import('@/components/Header.vue'),
    Autoriz: () => import('@/components/Autoriz.vue'),
    Akklist: () => import('@/components/Akklist.vue'),
    Akkinf: () => import('@/components/Akkinf.vue'),
  },

  data(){
  	return {
  		username: '',
  		password: '',
  		thisPage: 'Autoriz',
		nextPage: '',
		lastPage: '',
		// pageCount: 0
}
  },

  methods: {

  	goBack(){
  		this.thisPage = this.lastPage
  	},

  	goPage(data){
  		this.thisPage = data.nextPage
		this.lastPage = data.thisPage
		console.log(this.lastPage)
		console.log(this.thisPage)

		console.log(data)
  	},
  	  	goAkk(data){
  		this.thisPage = data.nextPage
		this.lastPage = data.thisPage
  	}
  },
};
</script>

<style scoped lang="scss">
  .home {
    background-color: #edeef0;
    height: 100%;
    min-height: 100%;
}
  body, html {
  	background-color: #edeef0;
  	height: 100%;
    min-height: 100%;
}
</style>


