<template>

	<div id="jumbotron" class="jumbotron jumbotron-fluid">
		<div id="container" class="container" alt="oops">
			<img src="#">
			<h1 class="display-4">Name</h1>
			<p class="lead">qwerty</p>
		</div>
	</div>


</template>

<script>
	export default {
  		name: 'Akkinf',
		data() {
			return {
				thisPage: 'Akkinf',
				nextPage: '',
				lastPage: '',
				// pageCount: 0,
			}
		},

		methods: {

			goAkk(){

				this.$emit('onClick', {
					thisPage: this.thisPage,
				})
			}

		}
	};


</script>

<style scoped lang="scss">
	#jumbotron {
		background-color: #fff;
	    width: 800px;
	    margin: 0 auto;
	}
	#container {
		margin: 0;
		height: 100%;
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: flex-start;
	}
	img {
		margin-right: 50px;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		float: left;
	}
	h1 {
		margin-right: 50px;
		font-size: 2rem;
	}

</style>