<template>
	<div class="conteiner">
		<div class="list-group">
  <div class="list-group-item list-group-item-action active">
    Cras justo odio
  </div>
  <div @click="goAkk" class="list-group-item list-group-item-action">
    Cras justo odio
  </div>
  <div class="list-group-item list-group-item-action">
    Cras justo odio
  </div>
  <div class="list-group-item list-group-item-action">
    Cras justo odio
  </div>
  <div class="list-group-item list-group-item-action">
    Cras justo odio
  </div>
</div>

	</div>
</template>

<script>
	export default {
  		name: 'Akklist',
		data() {
			return {
				thisPage: 'Akklist',
				nextPage: 'Akkinf',
				lastPage: ''
				// pageCount: 0,
			}
		},

		methods: {

			goAkk(){

				this.$emit('goAkk', {
						thisPage: this.thisPage,
						nextPage: this.nextPage
					})

			}
		}
	};


</script>

<style scoped lang="scss">
	.list-group {
	    width: 800px;
	    margin: 0 auto;
	}

</style>