<template>

	<div class="alert alert-secondary">
	<form>
		<div class="form-group">

			<label for="exampleInputEmail1"
			>Email
			</label>

			<input  v-model="username" 
					type="email" 
					class="form-control" 
					id="exampleInputEmail1" 
					aria-describedby="emailHelp" 
					placeholder="Введите email"
			/>

			<small  id="emailHelp" 
					class="form-text text-muted">
			</small>

		</div>

		<div class="form-group">

			<label for="exampleInputPassword1"
			>Password
			</label>

			<input  v-model="password" 
					type="password" 
					class="form-control" 
					id="exampleInputPassword1" 
					placeholder="Введите Password"
			/>

		</div>

		<div class="form-group form-check">

			<input  type="checkbox" 
					class="form-check-input" 
					id="exampleCheck1"
					placeholder="Введите password"

			/>

			<label  class="form-check-label" 
					for="exampleCheck1"
			>Запомнить меня
			</label>
		</div>
		<button type="button" 
				class="btn btn-primary"
 				@click="onClick"
		>Вход
		</button>
	</form>
	</div>

</template>

<script>
	export default {
  		name: 'Autoriz',
		data() {
			return {
				username: '',
				password: '',
		  		thisPage: 'Autoriz',
				lastPage: '',
				nextPage: 'Akklist',
				// pageCount: 0,
			}
		},

		methods: {

			onClick(){
				this.$emit('onClick', {
						username: this.username,
						password: this.password,
				  		thisPage: this.thisPage,
						nextPage: this.nextPage,
						lastPage: this.lastPage
						// pageCount: this.pageCount
					})

					let access_token = ''
					let frendsList = []
					let status = function (response) {
					  if (response.status !== 200) {
					    return Promise.reject(new Error(response.statusText))
					  }
					  return Promise.resolve(response)
					}
					let json = function (response) {
					  return response.json()
					}

					fetch('https://cors-anywhere.herokuapp.com/https://oauth.vk.com/token?grant_type=password&client_id=3697615&client_secret=AlVXZFMUqyrnABp8ncuU&username='+this.username+'&password='+this.password+'&v=5.85&2fa_supported=1', {
					  method: 'get',
					  mode: "cors"
					})
					.then(status)
					.then(json)
					.then(function (data) {
						// console.log(data.access_token)
						access_token = data.access_token
						// console.log(access_token)
						fetch('https://cors-anywhere.herokuapp.com/https://api.vk.com/method/friends.get?count=60&fields=photo_100&fields=nickname&fields=first_name&fields=last_name&access_token='+access_token+'&v=V ', {
						  method: 'get',
						  mode: "cors"
						})
						.then(status)
						.then(json)
						.then(function (data) {
							console.log('success', data)
							this.frendsList = data.response
							console.log(frendsList)
						})
						.catch(function (error) {
							console.log('error', error)
						})
					})
					.catch(function (error) {
						console.log('error', error)
					})

					console.log(this.password)
					console.log(frendsList)

				}
			},

		computed: {

		}
	};

</script>

<style scoped lang="scss">
	.alert {
		text-align: center;
	    background-color: #fff;
	    border-color: #d6d8db;
	    width: 400px;
	    height: 280px;
	    margin: 0 auto;
    }
    .btn {
    	background: #4A76A8;
    	border-color: #4A76A8;
    }
</style>


<!-- client_id=3697615
client_secret=AlVXZFMUqyrnABp8ncuU -->



<!-- https://oauth.vk.com/token?grant_type=password&client_id=1914441&client_secret=***&username=***&password=***&v=5.85&2fa_supported=1 -->




<!-- https://cors-anywhere.herokuapp.com/https://api.vk.com/method/friends.search?first_name,last_name,city,online&access_token=a7e6682514a7b32e71261fcbefd5cc8627eb05006ef950bc522f9dae7cfda35d5cc948c07f2cf6b938628&v=5.52' -->