<template>
	
	<div id="page_header" 
		 class="alert alert-primary">
		<a    class="back_btn"
			  @click="goBack">
			<div id="back_home">
			
			</div>
			<span class="txtBack">Назад</span>
		</a>
	</div>

</template>

<script>
	export default {
  	name: 'Header',
		data() {
			return {

			}
		},

		methods: {

			goBack(){
				this.$emit('goBack')
			}
		}
	};

</script>

<style scoped lang="scss">

	.btn-primary {
		background-color: #5181B8;
    	border-color: #5181B8;
	}
 	.txtBack {
 		color: black;
	    float: right;
	    margin: -22px 25px 0 0;
 	}

	#back_home {
		background: url(/src/assets/Images/iconsBack.png) no-repeat 50% / contain;
		height: 19px;
	    width: 34px;
	    margin: -2px 0px 0 0;
	    text-align: left;
	}

	.back_btn {
		color: #2a5885;
	    text-decoration: none;
	    cursor: pointer;
	    float: left;
	    width: 100px;
	    height: 42px;
	    display: block;
	    color: white;
	}

	#page_header {
		position: fixed;
	    height: 42px;
	    width: 100%;
	    left: 0;
	    top: 0;
	    z-index: 120;
	    direction: ltr;
	    background-color: #4A76A8;
	    border-color: #4A76A8;
	    border-radius: 0;
	    margin: 0 auto;
		}
</style>