<template>
  <div id="app">

    <div class="top"></div>

    

    <router-view/>
  </div>
</template>

<style lang="scss">

  #app, body, html {
    background-color: #edeef0;
    height: 100%;
    min-height: 100%;
  }

  .top {
    height: 130px;
  }

</style>

